<div ng-include="'components/navbar/navbar.html'"></div>

<section class="container">
   <div class="row">
      <div class="col-md-7">
         <h2>
            {{ctrl.viewTitle}}
            <span class="pull-right">
               <button type="button" class="btn btn-primary" data-ng-click="ctrl.makePDF()">Export PDF</button>
            </span>
         </h2>
      </div>
   </div>
   <div class="row">
      <div class="col-md-7">
         <table class="table table-striped table-bordered table-hover">
            <thead>
               <tr>
                  <th class="clickable"
                     data-ng-repeat="column in ctrl.columnNames"
                     data-ng-click="ctrl.sortColumn($event, column)">
                     <span class="clickable text">{{ctrl.columns[column].label}}</span>
                     <span class="fa fa-sort"
                        data-ng-show="ctrl.columns[column].sortDir === null"></span>
                     <span class="fa fa-sort-asc"
                        data-ng-show="ctrl.columns[column].sortDir === 'asc'"></span>
                     <span class="fa fa-sort-desc"
                        data-ng-show="ctrl.columns[column].sortDir === 'desc'"></span>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr data-ng-repeat="user in ctrl.users">
                  <td data-ng-repeat="column in ctrl.columnNames">
                     <span data-ng-if="column === 'remote_user'">
                        <a data-ui-sref="sites({user: user[column], start: ctrl.startDate, end: ctrl.endDate})"
                           tooltip-placement="top" tooltip="View user detail" tooltip-trigger>
                           <span class="fa fa-info-circle"></span>
                        </a>
                     </span>
                     <span>{{ctrl.columns[column].format(user[column])}}</span>
                  </td>
               </tr>
            </tbody>
         </table>
         <div style="text-align: center">
            <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.index" max-size="10" items-per-page="ctrl.size" class="pagination-sm" rotate="false" num-pages="numPages" ng-change="ctrl.newIndex()"></ul>
         </div>
      </div>
      <div class="col-md-5">
         <div class="panel panel-default">
            <div class="panel-heading"><span><b>{{ctrl.chartBytesTitle}}</b></span></div>
            <div class="panel-body">
               <canvas id="chartBytes" class="chart chart-pie" chart-data="ctrl.dataBytes" chart-labels="ctrl.labelsBytes" chart-legend="true" chart-options="ctrl.bytesChartOptions"></canvas>
            </div>
         </div>
         <div class="panel panel-default">
            <div class="panel-heading"><span><b>{{ctrl.chartTimeTitle}}</b></span></div>
            <div class="panel-body">
               <canvas id="chartTime" class="chart chart-pie" chart-data="ctrl.dataTime" chart-labels="ctrl.labelsTime" chart-legend="true" chart-options="ctrl.timeChartOptions"></canvas>
            </div>
         </div>
      </div>
   </div>
</section>
