<section class="container">
   <div class="center-70">
      <div class="row">
         <span class="h1 col-sm-8">Account {{$ctrl.currentAction}}</span>
         <span class="h1 col-sm-2 col-sm-offset-2">
        <button class="btn btn-lg btn-primary"
            type="button"
            ng-disabled="$ctrl.accountForm.$invalid || $ctrl.accountForm.$pending || $ctrl.working"
            ng-click="$ctrl.save()" aria-label="Save">
            <span class="fa" aria-hidden="true"
                ng-class="{
                    'fa-save': !$ctrl.working,
                    'fa-spinner fa-spin': $ctrl.working
                }">
            </span> Save
         </button>
         </span>
      </div>
      <div class="row">
         <form name="$ctrl.accountForm" ng-submit="$ctrl.accountForm.$valid && $ctrl.save()">
            <fieldset>
               <legend>
                  <span class="fieldset-header">Account</span>
               </legend>
               <section>
                  <div class="row">
                     <div class="form-group has-feedback col-sm-6" ng-class="{
                            'has-error': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$invalid,
                            'has-success': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$valid}">
                        <label class="control-label" for="login">Login</label>
                        <input class="form-control" name="login" id="login" type="text"
                           required
                           ng-model="$ctrl.account.login"
                           ng-model-options="{updateOn: 'blur'}">
                        <span class="form-control-feedback fa" ng-class="{
                              'fa-spinner fa-spin': $ctrl.accountForm.login.$pending.validateLogin,
                              'fa-times': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$invalid,
                              'fa-check': $ctrl.accountForm.login.$touched && $ctrl.accountForm.login.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.login.$error">
                           <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                        </div>
                     </div>
                     <div class="form-group has-feedback col-sm-6" ng-class="{
                            'has-error': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$invalid,
                            'has-success': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$valid}">
                        <label class="control-label" for="name">Name</label>
                        <input class="form-control" name="name" id="name" type="text"
                           required
                           ng-model-options="{updateOn: 'blur'}"
                           ng-model="$ctrl.account.name">
                        <span class="form-control-feedback fa" ng-class="{
                                'fa-times': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$invalid,
                                'fa-check': $ctrl.accountForm.name.$touched && $ctrl.accountForm.name.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.name.$error">
                           <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group has-feedback col-sm-6" ng-class="{
                          'has-error': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$invalid,
                          'has-success': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$valid}">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" name="password" id="password" type="password"
                           ng-required="!$ctrl.editing"
                           ng-minlength="8"
                           ng-model="$ctrl.account.password"
                           ng-model-options="{updateOn: 'blur'}">
                        <span class="form-control-feedback fa" ng-class="{
                                'fa-times': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$invalid,
                                'fa-check': $ctrl.accountForm.password.$touched && $ctrl.accountForm.password.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.password.$error">
                           <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                        </div>
                     </div>
                     <div class="form-group has-feedback col-sm-6 select-container" ng-class="{
                            'has-error': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$invalid,
                            'has-success': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$valid}">
                        <label class="control-label" for="roles">Roles</label>
                        <select class="form-control" name="roles" id="roles"
                           required
                           data-ng-model="$ctrl.role"
                           data-ng-options="role as role.name for role in $ctrl.roles track by role.id"
                           tooltip-placement="top" uib-tooltip="{{$ctrl.role.description}}" tooltip-trigger>
                        </select>
                        <span class="form-control-feedback fa" ng-class="{
                                'fa-times': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$invalid,
                                'fa-check': $ctrl.accountForm.roles.$touched && $ctrl.accountForm.roles.$valid}">
                        </span>
                        <div class="help-block" ng-messages="$ctrl.accountForm.status.$error">
                           <div ng-messages-include="app/account/edit/validation-messages.html"></div>
                        </div>
                     </div>
                  </div>
               </section>
            </fieldset>
         </form>
      </div>
   </div>
</section>
