<strong>{{"%(name)s &lt;%(login)s&gt;" | fmt:$ctrl.account }}</strong>
<div class="btn-group pull-right" role="group">
      <button class="btn btn-danger"
            type="button"
            data-ng-disabled="account.login === 'admin'"
            data-ng-click="$ctrl.select()"
            aria-label="remove">
         <span class="fa" aria-hidden="true"
            data-ng-class="{
                  'fa-trash': !$ctrl.working,
                  'fa-spinner fa-spin': $ctrl.working
            }">
         </span>
      </button>
      <button class="btn btn-primary"
            type="button"
            data-ng-click="$ctrl.select('edit')"
            aria-label="edit">
         <span class="fa fa-pencil" aria-hidden="true"></span>
      </button>
</div>
<br/>
<span>{{$ctrl.account.login}}</span>
