<section class="container">
    <div class="center-70">
        <section>
            <div class="row">
                <span class="h1 col-sm-6">Account List</span>
                <span class="h1 col-sm-2 col-sm-offset-4">
                    <button class="btn btn-lg btn-primary" ui-sref="admin.create">
                       Create
                       <span class="fa fa-plus-circle"></span>
                    </button>
                </span>
            </div>
            <br/>
            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item identified-list-item" data-ng-repeat="account in $ctrl.accounts">
                        <account
                           account="account"
                           on-edit="$ctrl.onEdit($event);"
                           on-delete="$ctrl.onDelete($event);">
                        </account>
                    </li>
                </ul>
            </div>
            <pager
                total-items="$ctrl.totalItems"
                items-per-page="$ctrl.pageSize"
                data-ng-model="$ctrl.pageNumber"
                data-ng-change="$ctrl.pageChanged()"></pager>
        </section>
    </div>
</section>
